<div id="banner">
    <span>
        <h1 id="banner-header" onClick="location.href='/homepage';" style="cursor: pointer;">
            <img src="/logo.jpeg" alt="Wellesley World Logo">
            Wellesley World
        </h1>
    </span>
    <a href="/homepage">home</a> 
    <a href="/chats">chats</a>
</div>