<div id="searchbar">
    <form method="GET" action="/search/">
      <p>
        <label>Search Wellesley: <input required name="term"></label>
        <label>
          kind: <select required name="kind">
                  <option value="">Choose One</option>
                  <option value="region">Region</option>
                  <option value="userName">Name or Username</option>
                  <option value="interest">Interest</option>
        </label>
    </p>
      <p><input type="submit" value="search"></p>
  </form>
 
</div>
