<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body id="gradient">
    <%- include("partials/flashes.ejs") %>

    <div id= "loginBox">
    <h2><%= username %>, please update your password below</h2>
    <p>
      <form action="/password/edit/<%= username %>" method="POST">
          <p><label> Password
            <input type="text" name="password" placeholder="********" required>
        </label></p>
        <p><button type="submit">update password</button></p>
      </form>
    </p>
</div>
</body>
</html>