<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Profile Page</title>

    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/public_html/styles.css" />

    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <%- include("partials/navbar.ejs") %>

    <!--TODO: Make form more WAVE accessbile with things like fieldset-->
    <h1>Sign Up for WellesleyWorld!</h1>
    <div id="searchbar">
        <form method="POST" action="/insert/" >
            <p><label>Wellesley User ID: <input required name="uid" value=""></label></p>
            <p><label>Name: <input name="name" value=""></label></p>
            <p><label>Pronouns: <input name="pronouns" value=""></label></p>
            <p><label>Major: <input name="major" value=""></label></p>
            <p><label>Grad Year: <input name="year" value=""></label></p>
            <p><label>Region: <input name="major" value=""></label></p>
            <p><label>Fields: <input name="major" value=""></label></p>
            <p><label>Major: <input name="major" value=""></label></p>
            <p><button type="submit" value="submit">Submit!</button></p>
        </form>
    </div>

</body>
</html>