h1 {
  color: #0C2142;
  padding-left: 10px;
}

h2 {
  color: #0142A4;
  padding-left: 10px;
}

.profileform {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.box{
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#profile {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  padding-left: 10px;
}

img {
  border-radius: 50%;
  width: 40px;
  float: left;    
  margin: 0 15px 0 0;
}

img.profilePic {
  border-radius: 50%;
  width: 40px;
  float: left;    
  margin: 0 15px 0 0;
  border: 1px solid #5f5f5f;
}

/* Create three equal columns for each friend of the
homepage that floats next to each other */
.friend {
  float: left;
  width: 30%;
  padding: 10px;
  height: 200px; 
  border-style: dotted;
  border-color: turquoise;
  border-width: thin medium;
}

/* Clear floats after the columns */
.row-homepage:after {
  content: "";
  display: table;
  clear: both;
}

.friend-interests {
  list-style-type: circle;
}

#banner {
  border-style: outset;
  border-color: black;
  border-width: 1px;
  width: 100%;
}

#banner-header {
  color: #003974;
}

#info {
  color: green;
}

#errors{
  color:red;
}

/* Chat.ejs css */
#messages {
  margin: auto;
  max-width: 80%;
  max-height: fit-content;
  border: 2px solid #7C8084;
}

#messages::after{
  clear:both;
}


.singleChatCurr{
  float: right;
  clear:both;
}

.singleChatOther{
  float: left;
  clear:both;
  
}

.messageSender {
  color: #3C4147;
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.messageContentCurr {
  color: #3C4147;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #BFBFBF;
  font-size: medium;
  border-radius: 15px;
}

.messageContentOther {
  color: #3C4147;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #9EB2C6;
  font-size: medium;
  border-radius: 15px;
}

.messageTimestamp {
  color: #7C8084;
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

#textbox{
  max-width: fit-content;
  margin:auto;
  clear:both;
}

.chatHeader{
  margin: 20px;
  color: #0C2142;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bolder;
}

.chatter{
  padding: 10px;
}

table, td{
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 30%;
}

.chatterName{
  color: #0142A4;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chatPreview{
  color: #5f5f5f;
  margin-left: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chatList{
  margin: 20px;
}

a:link{
 color: #003974;
}

a:visited{
 color: #0142A4;
}
a:hover{
 color: #000dff;
}

hr {
  border-top: 2px solid #0C2142;
  margin: 10px;

}

#gradient {
  background: hsla(216, 99%, 32%, 1);

background: linear-gradient(0deg, hsla(216, 99%, 32%, 1) 0%, hsla(217, 69%, 15%, 1) 100%);

background: -moz-linear-gradient(0deg, hsla(216, 99%, 32%, 1) 0%, hsla(217, 69%, 15%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsla(216, 99%, 32%, 1) 0%, hsla(217, 69%, 15%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0142A4", endColorstr="#0C2142", GradientType=1 );
}

#loginBox{
  width: 27%;
  text-align: center;
  background: rgb(255, 255, 255);
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  margin-top: 200px;
}

/* link css */

a:link, a:visited {
  background-color: #296dd2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #0058db;
}

/* login button CSS */

button {
  background-color: #296dd2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

button:hover, button:active {
  background-color: #0058db;
}
