h1 {
  color: purple;
}

h2 {
  color: rgb(115, 101, 152);
}

.profileform {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.box{
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#profile {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

img {
  border-radius: 50%;
  width: 40px;
  float: left;    
  margin: 0 15px 0 0;
}

/* Create three equal columns for each friend of the
homepage that floats next to each other */
.friend {
  float: left;
  width: 30%;
  padding: 10px;
  height: 200px; 
  border-style: dotted;
  border-color: turquoise;
  border-width: thin medium;
}

/* Clear floats after the columns */
.row-homepage:after {
  content: "";
  display: table;
  clear: both;
}

.friend-interests {
  list-style-type: circle;
}

#banner {
  border-style: outset;
  border-color: black;
  border-width: medium;
}

#banner-header {
  color: blue;
}

#info {
  color: green;
}