h1 {
  color: purple;
}


.profileform {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.box{
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#profile {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.spacing{
  padding: 30px;
img {
  border-radius: 50%;
  width: 40px;
}

.friend {
  border-style: inset;
  border-color: black;
  border-width: medium;
}

#banner {
  border-style: outset;
  border-color: black;
  border-width: medium;
}

#banner-header {
  color: blue;
}